django
djangorestframework
djangorestframework_simplejwt
psycopg2-binary
dj-config-url
python-decouple
drf-yasg
django-cors-headers
pillow
django-filter
celery[redis]
loguru
coverage
model_bakery
django-phone-number-field[phonenumberslite]
django-cors-headers
pyngrok
beautifulsoup4
lxml
selenium
webdriver_manager
fake-useragent
geopy




[program:celery]
command=/home/aliyakomanovaa/sport_fullstack_hackathon/venv/bin/celery -A config beat --loglevel=INFO
directory=/home/aliyakomanovaa/sport_fullstack_hackathon
user=www-data
startsecs=0
autostart=true
autorestart=true
stdout_logfile=/home/aliyakomanovaa/sport_fullstack_hackathon/logs/celeryd.log
redirect_stderr=true